* {
    font-family: 'Amatic SC', cursive;
    font-size: 1.1em;
}
h1,h2,h3,p,li,ol,ul{
    margin: 0;
    padding: 0;
}
h1{font-size: 5em}
h2{font-size: 1.3em}
h3{
    font-size: 1.1em;
    margin-bottom: 10px;
}
p{font-size: 0.9em}
li{
    font-size: 0.7em;
    margin-left:20px;
}
body {
    display: grid;
    overflow: scroll;
    margin: 0px;
    grid-template-columns: auto;
    grid-template-rows: 10vh 90vh auto 50vh;
    grid-template-areas:  
    "a"
    "b"
    "c"
    "d";
}
div{
    border: 1px dashed black;
}
nav{
    grid-template-areas: a;
    background-color: white;
    border: 1px solid black;
}
header{
    grid-template-areas: b;
    background-color: white;
    border: 1px solid black;
    display: flex; 
    justify-content: center;
    align-items: center;
}
main{
    grid-template-areas: c;
    background-color: white;
    border: 1px solid black;
    display: block
}
/* Features Recipes*/
.content{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 60vh;

}
#recipe-card{
    height: auto;
    min-height: 50vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.title{
    width: 100%;
    margin: 0px;
}
.ing{
    width: 50%;
    border: none;
    margin: 0px;
}
.dir{
    width: 50%;
    border: none;
    margin: 0px;
}
/* photo-card */
#photo-card{
    display: flex;
    height: 60vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* video-card */
#video-card{
    min-height: 50vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* Files  */
#projects{
    height: 30vh;
    width: 100vw;
    display: flex;
}
#scroll-files{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: wrap;
}
.script{
    width: 20%;
    display: inline;
    text-align: center;
}
.file{
    height: 100%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    background-image: url('icons/folder.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.file > p {
    margin: 0px;
    width: 100%;
    text-align: center;
    background-color: white;
    opacity: 0.4;
    margin-top: 15px;
}

.file:hover > p{
    opacity: 1;
}
/* img */
img{
    height: 40%;
    width: auto;
}
/* video */
#video-card{
    justify-content: center;
    align-items: center;
}
/* Footer */
footer{
    grid-template-areas: d;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#get-in-touch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
    border: 1px solid black;
}
#links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:30%;
    border: 1px solid black;
}
.scroll::-webkit-scrollbar{
    display: none;
}

/* buttons */
#card, #image, #video{
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    padding-left: 30px;
    padding-right: 30px;
}
.clicked{
    background-color:white;
    border-bottom: 0px;
}
