* {
    font-family: 'Amatic SC', cursive;
    font-size: 1.1em;
}
h1{font-size: 5em}

body {
    display: grid;
    overflow: scroll;
    margin: 0px;
    grid-template-columns: auto;
    grid-template-rows: 10vh 90vh auto 100vh;
    grid-template-areas:  
    "a"
    "b"
    "c"
    "d"
}
div{
    border: 1px dashed black;
}
nav{
    grid-template-areas: a;
    background-color: white;
    border: 1px solid black;
}
header{
    grid-template-areas: b;
    background-color: white;
    border: 1px solid black;
    display: flex; 
    justify-content: center;
    align-items: center;
}
main{
    grid-template-areas: c;
    background-color: white;
    border: 1px solid black;
    display: block;
}
/* Profile */
#about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Projects  */
#projects{
    height: 50vh;
    width: 100vw;
    display: flex;
}
#scroll-files{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: wrap;
}
.script{
    width: 20%;
}
.file{
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('icons/folder.png');
    background-size: cover;
}

/* Photos */
#photos{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
}
#slide-show{
    background-image: url(art/Art1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Films */
#films{
    display: flex;
}
#scroll-videos{
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: wrap;
}
.video{
    height: 100%;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('icons/film.png');
    background-size: cover;
}

/* Art Work */
#art{
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.featured_image{
    height: 80%;
    width: 40%;
    background-size: cover;
    background-position: center;
}
/* Footer */
footer{
    grid-template-areas: d;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#get-in-touch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
    border: 1px solid black;
}
#links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:30%;
    border: 1px solid black;
}
.scroll::-webkit-scrollbar{
    display: none;
}
