* {
    font-family: 'Amatic SC', cursive;
    font-size: 1.1em;
}
h1{font-size: 5em}

body {
    display: grid;
    overflow: scroll;
    margin: 0px;
    grid-template-columns: auto;
    grid-template-rows: 10vh 90vh auto 50vh;
    grid-template-areas:  
    "a"
    "b"
    "c"
    "d";
}
div{
    border: 1px dashed black;
}
nav{
    grid-template-areas: a;
    background-color: white;
    border: 1px solid black;
}
header{
    grid-template-areas: b;
    background-color: white;
    border: 1px solid black;
    display: flex; 
    justify-content: center;
    align-items: center;
}
main{
    grid-template-areas: c;
    background-color: white;
    border: 1px solid black;
    display: block
}
/* Features Recipes*/
.content{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

}
#recipe-card{
    height: auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}
.title{
    width: 100%;
    margin: 0px;
}
.ing{
    width: 50%;
    border: none;
    margin: 0px;
}
.dir{
    width: 50%;
    border: none;
    margin: 0px;
}
/* photo-card */
#photo-card{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
/* video-card */
#video-card{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* Files  */
#projects{
    height: 30vh;
    width: 100vw;
    display: flex;
}
#scroll-files{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: wrap;
}
.script{
    width: 20%;
}
.file{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('icons/folder.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
/* .file > img{
} */
/* Footer */
footer{
    grid-template-areas: d;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#get-in-touch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
    border: 1px solid black;
}
#links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:30%;
    border: 1px solid black;
}
.scroll::-webkit-scrollbar{
    display: none;
}
#card, #image, #video{
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    padding-left: 30px;
    padding-right: 30px;
}
#card{
    background-color: white;
    border-bottom: 0px;
}